@unocss all;

.dollar::before {
  content: "$";
}

th {
  padding: 0 8px 0 0;
  font-weight: normal;
}

th:last-child {
  padding: 0;
}

td {
  padding: 4px 24px 0 0;
}

td:last-child {
  padding: 4px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  @apply !outline-none bg-gray/10 p-2 border-1 border-transparent rounded placeholder-white/50 outline-none;
}

input:not([type="search"]) {
  @apply focus:border-primary;
}

.error {
  @apply border-red-500! bg-red-500/10! ring-red-500/50! focus:border-red-500!;
}

.text-outline {
  text-shadow: 0 4px 0 rgb(0, 0, 0);
}

.card-profit-bg {
  background: linear-gradient(120deg, #432da9, #6542ff, #4ca8d2, #40d866);
}

.card-loss-bg {
  background:
    linear-gradient(to top right, red, transparent 40%),
    linear-gradient(120deg, #432da9, #6542ff, #4ca8d2, #40d866);
}
